@font-face {
    font-family: "SF Pro Display";
    src: url(../fonts/sf-pro-display_regular.woff2);
}

html {
    box-sizing: border-box;
}

*,
*::after 
*::before {
    block-size: inherit;
}

body {
    font-family: "SF Pro Display";
    font-weight: 400;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

.section-main {
    text-align: center;
    min-height: 692px;
    padding-top: 55px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #1D1D1F;
    margin-bottom: 12px;
}

.iphone-pro {
    background-image: image-set("../images/hero_iphone_17_pro.avif" type("image/avif"),
            "../images/hero_iphone_17_pro.webp" type("image/webp"),
            "../images/hero_iphone_17_pro.jpg"
        );
    color: #F5F5F7;
}

.iphone-air {
    background-image: image-set("../images/hero_iphone_air.avif" type("image/avif"),
            "../images/hero_iphone_air.webp" type("image/webp"),
            "../images/hero_iphone_air.jpg"
        );
}

.iphone {
    background-image: image-set("../images/hero_iphone_17.avif" type("image/avif"),
            "../images/hero_iphone_17.webp" type("image/webp"),
            "../images/hero_iphone_17.jpg"
        );
}

.section-main__title {
    font-size: 56px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 5px;
}

.section-main__subtext {
    font-size: 28px;
    line-height: 32px;
    margin: 0 auto 7px;
    max-width: 340px;
    margin-left: auto;
}

.section-main__text {
    font-size: 19px;
    line-height: 23px;
    margin-bottom: 15px;
    color: #6E6E73;
}

.btn {
    font-size: 17px;
    line-height: 20px;
    padding: 12px 22px;
    border-radius: 22px;
}

.btn-box {
    display: flex;
    justify-content: center;
    gap: 18px;
}

.btn-primary {
    color: #fff;
    background-color: #0071E3;
}

.btn-secondary {
    background: transparent;
    border: 1px solid #0071E3;
    color: #0071E3;
}

.collections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-bottom: 24px;
}

.collections-item {
    min-height: 580px;
    padding-top: 55px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.collections-item__title {
    max-width: 380px;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 4px;
    font-weight: 400;
    margin: 0 auto 4px  ;
}

.collections-item__subtext {
    font-size: 21px;
    line-height: 25px;
    max-width: 300px;
    margin: 0 auto 9px;
}

.collections-item__text {
    font-size: 14px;
    line-height: 18px;
    color: #6E6E73;
}

.collections-item .btn{
    margin-top: 15px;
    padding: 10px 16px;
    font-size: 14px;  
}

.collections-item .btn-box{
    gap: 14px;
}
.airpods {
    background-image: image-set(
        '../images/airpodspro_3.avif' type('image/avif'),
        '../images/airpodspro_3.webp', 
        '../images/airpodspro_3.jpg' 
    );
}

.watch-11 {
        background-image: image-set(
        '../images/promo_apple_watch_11.avif' type('image/avif'),
        '../images/promo_apple_watch_11.webp', 
        '../images/promo_apple_watch_113.jpg' 
    );
}

.watch-se {
        background-image: image-set(
        '../images/promo_apple_watch_se.avif' type('image/avif'),
        '../images/promo_apple_watch_se.webp',
        '../images/promo_apple_watch_se.jpg' 
    );
    padding-bottom: 55px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.watch-ultra {
        background-image: image-set(
        '../images/promo_apple_watch_ultra3.avif' type('image/avif'),
        '../images/promo_apple_watch_ultra3.webp', 
        '../images/promo_apple_watch_ultra3.jpg' 
    );
    color: #F5F5F7;
}

.deal {
        background-image: image-set(
        '../images/promo_carrier.avif' type('image/avif'),
        '../images/promo_carrier.webp', 
        '../images/promo_carrier.jpg' 
    );
}

.trade-in {
        background-image: image-set(
        '../images/promo_iphone_tradein.avif' type('image/avif'),
        '../images/promo_iphone_tradein.webp', 
        '../images/promo_iphone_tradein.jpg' 
    );
}

@media (max-width: 640px) {
    .section-main {
        min-height: 650px;
    }

    .iphone-pro {
        background-image: url(../images/hero_iphone_17_pro_small.jpg);
    }
}